# Ignorar directorios y archivos generados
build/
devel/
config/

# Ignorar cachés y archivos temporales
*.pyc
__pycache__/
*.npy
*.png

# Ignorar archivos específicos del sistema y de entorno de desarrollo
.DS_Store
Thumbs.db
.vscode/
.idea/
