<launch>
  <node pkg="rtabmap_slam" type="rtabmap" name="rtabmap" output="screen">
  <param name="subscribe_rgb" value="true"/>
  <param name="subscribe_depth" value="true"/>
  <param name="subscribe_odom_info" value="true"/>
  <remap from="/rgb/camera_info" to="/airsim/camera_info"/>
  <remap from="/odom_info" to="/airsim/odom_info"/>
  <remap from="/odom" to="/airsim/odom"/>
  <remap from="/depth/image" to="/airsim/depth"/>
  <remap from="/rgb/image" to="/airsim/image_raw"/>
  <param name="sync_queue_size" value="100"/>
  <param name="topic_queue_size" value="100"/>
  </node>

  
  <node pkg="rtabmap_viz" type="rtabmap_viz" name="rtabmap_viz" output="screen">
    <remap from="/odom" to="/airsim/odom"/>
    <param name="sync_queue_size" value="50"/>
    <param name="topic_queue_size" value="50"/>
  </node>

  <node pkg="rviz" type="rviz" name="rviz" output="screen"/>

  <node pkg="rqt_graph" type="rqt_graph" name="rqt_graph" required="false"/>

  <node pkg="drone_slam_simulation" type="move_dron.py" name="move_dron" output="screen"/>
  <node pkg="drone_slam_simulation" type="publish_topics.py" name="publish_topics" output="screen"/>
  
</launch>
